@model ToDoList.Models.Task

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.Title</h3>
        </div>
        <div class="panel-body">
            <article>@Model.Description</article>

            <div class="row text-center">

                @if (!Model.IsTaskComplete)
                {
                    <span class="btn btn-success taskCompleteButton" onclick="MarkTaskComplete(true)">Mark As Complete</span>
                }
                else
                {
                    <span class="btn btn-warning taskCompleteButton" onclick="MarkTaskComplete(false)">Reopen Task</span>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div id="TaskUpdateContainer" class="col-md-12">

            @if (Model.TaskUpdateList.Any())
            {
                <h3>Updates <span class="label label-success">@Model.TaskUpdateList.Count</span></h3>
            }


            @if (!Model.IsTaskComplete)
            {
                @Html.ActionLink("Add Update", "NewUpdate", new { taskId = Model.Id }, new { @id = "newUpdateLink" })
            }

            @if (Model.TaskUpdateList.Any())
            {
                <div id="tblTaskUpdatesContainer">
                    <table id="tblTaskUpdates" class="table table-bordered table-condensed">
                        <thead>
                            <tr class="success">
                                <th>#</th>
                                <th>Update</th>
                                <th>Created</th>
                                <th>@* Delete *@</th>
                                <th>@* Edit *@</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.TaskUpdateList.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.TaskUpdateList.ElementAt(i).UpdateText</td>
                                    <td>@Model.TaskUpdateList.ElementAt(i).RecordCreated.ToString("dd/MM/yyyy")</td>
                                    <td><span class="btn btn-danger" onclick="ConfirmDeleteTaskUpdate(@Model.TaskUpdateList.ElementAt(i).Id)">Delete</span></td>
                                    <td>@Html.ActionLink("Edit", "EditTaskUpdate", new { id = Model.TaskUpdateList.ElementAt(i).Id })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (!Model.IsTaskComplete)
            {
                <h4 class="text-center">Add an update to this task to track your progress!</h4>
            }
        </div>
    </div>
</div>

<input id="hfTaskUpdateToDelete" type="hidden" value="-1"/>

@* Delete Task Update confirmation modal *@
<div id='DeleteTaskUpdateConfirmationModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-white" id="myModalBtnTruckLabel">Delete Confirmation</h4>
            </div>

            <div class="modal-body">
                <p class="text-center">Are you sure you want to delete this task update?</p>

                <p class="text-danger text-center">This cannot be undone</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

                <span class="btn btn-warning" onclick="DeleteTaskUpdate()">Confirm</span>
            </div>
        </div>
    </div>
</div>

<script>

    function MarkTaskComplete(isTaskComplete) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateTaskCompleteFlag", "Task")',
            data: { taskId: @Model.Id, isTaskComplete: isTaskComplete },
            success: function (data) {
                console.log('task successfully updated');

                window.location.reload();
            }
        });
    }

    function ConfirmDeleteTaskUpdate(taskUpdateId) {
        $('#hfTaskUpdateToDelete').val(taskUpdateId);
        
        $('#DeleteTaskUpdateConfirmationModal').modal('show');
    }

    function DeleteTaskUpdate() {
        var taskUpdateId = $('#hfTaskUpdateToDelete').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteTaskUpdate", "Task")',
            data: { taskUpdateId: taskUpdateId },
            success: function () {
                window.location.reload();
            }
        });
    }

</script>
