@model ToDoList.Models.Task

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.Title</h3>
        </div>
        <div class="panel-body">
            <article>@Model.Description</article>

            <div class="row text-center">

                @if (!Model.IsTaskComplete)
                {
                    <span class="btn btn-success taskCompleteButton" onclick="MarkTaskComplete(true)">Mark As Complete</span>
                }
                else
                {
                    <span class="btn btn-warning taskCompleteButton" onclick="MarkTaskComplete(false)">Reopen Task</span>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div id="TaskUpdateContainer" class="col-md-12">

            @if (Model.TaskUpdateList.Any())
            {
                <h3>Updates <span class="label label-success">@Model.TaskUpdateList.Count</span></h3>
            }


            @if (!Model.IsTaskComplete)
            {
                @Html.ActionLink("Add Update", "NewUpdate", new { taskId = Model.Id }, new { @id = "newUpdateLink" })
            }

            @if (Model.TaskUpdateList.Any())
            {
                <div id="tblTaskUpdatesContainer">
                    <table id="tblTaskUpdates" class="table table-bordered table-condensed">
                        <thead>
                            <tr class="success">
                                <th>#</th>
                                <th>Update</th>
                                <th>Created</th>
                                <th>@* Delete *@</th>
                                <th>@* Edit *@</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.TaskUpdateList.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model.TaskUpdateList.ElementAt(i).UpdateText</td>
                                    <td>@Model.TaskUpdateList.ElementAt(i).RecordCreated.ToString("dd/MM/yyyy")</td>
                                    <td><span class="btn btn-danger" onclick="DeleteTaskUpdate(@Model.TaskUpdateList.ElementAt(i).Id)">Delete</span></td>
                                    <td>@Html.ActionLink("Edit", "EditTaskUpdate", new { id = Model.TaskUpdateList.ElementAt(i).Id })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (!Model.IsTaskComplete)
            {
                <h4 class="text-center">Add an update to this task to track your progress!</h4>
            }
        </div>
    </div>
</div>


<script>

    function MarkTaskComplete(isTaskComplete) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateTaskCompleteFlag", "Task")',
            data: { taskId: @Model.Id, isTaskComplete: isTaskComplete },
            success: function (data) {
                console.log('task successfully updated');

                window.location.reload();
            }
        });
    }

    function DeleteTaskUpdate(taskUpdateId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteTaskUpdate", "Task")',
            data: { taskUpdateId: taskUpdateId },
            success: function () {
                console.log('task update successfully deleted');

                window.location.reload();
            }
        });
    }

</script>
