@model ToDoList.Models.Task

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.Title</h3>
        </div>
        <div class="panel-body">

            @if (Model.DeadlineDate.HasValue && !Model.IsTaskComplete)
            {
                <p class="@(Model.DeadlineDatePassed? "TaskDeadlinePassed": "")"><span class="font-weight-bold">Deadline:</span> @Model.DeadlineDate.Value.ToString("dd/MM/yyyy")</p>
            }

            <p><span class="font-weight-bold">Created:</span> @Model.RecordCreated.ToString("dd/MM/yyyy")</p>

            @if (Model.LastUpdated.HasValue)
            {
                <p><span class="font-weight-bold">Last Updated:</span> @Model.LastUpdated.Value.ToString("dd/MM/yyyy")</p>
            }

            <article>@Model.Description</article>

            <hr />

            <div id="MarkAsCompleteContainer" class="row text-center">

                @if (!Model.IsTaskComplete)
                {
                    <span class="btn btn-success taskCompleteButton" onclick="MarkTaskComplete(true)">Mark As Complete</span>
                }
                else
                {
                    <span class="btn btn-info taskCompleteButton" onclick="MarkTaskComplete(false)">Reopen Task</span>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div id="TaskUpdateContainer" class="col-md-12">

        </div>
    </div>
</div>

<input id="hfTaskUpdateToDelete" type="hidden" value="-1" />

@* Delete Task Update confirmation modal *@
<div id='DeleteTaskUpdateConfirmationModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-white" id="myModalBtnTruckLabel">Delete Confirmation</h4>
            </div>

            <div class="modal-body">
                <p class="text-center">Are you sure you want to <span class="text-danger">delete</span> this task update?</p>

                <p class="text-danger text-center">This cannot be undone!</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

                <span class="btn btn-warning" onclick="DeleteTaskUpdate()">Confirm</span>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = function () {
        LoadUpdateTable();
    }

    function LoadUpdateTable() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("TaskUpdateTablePartialView", "Task")',
            data: { taskId: @Model.Id },
            success: function (data) {

                $('#TaskUpdateContainer').html(data);
            }
        });
    }

    function MarkTaskComplete(isTaskComplete) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateTaskCompleteFlag", "Task")',
            data: { taskId: @Model.Id, isTaskComplete: isTaskComplete },
            success: function (data) {

                window.location.reload();
            }
        });
    }

    function ConfirmDeleteTaskUpdate(taskUpdateId) {
        $('#hfTaskUpdateToDelete').val(taskUpdateId);

        $('#DeleteTaskUpdateConfirmationModal').modal('show');
    }

    function DeleteTaskUpdate() {
        var taskUpdateId = $('#hfTaskUpdateToDelete').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteTaskUpdate", "Task")',
            data: { taskUpdateId: taskUpdateId },
            success: function () {

                $('#DeleteTaskUpdateConfirmationModal').modal('hide');

                LoadUpdateTable();
            }
        });
    }

</script>
