@model ToDoList.ViewModels.TaskIndexViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("New Task", "New")

@if (Model.TaskList.Any())
{
    <div>
        <table id="tblTask" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>No. Of Updates</th>
                    <th>Last Updated</th>
                    <th>Created</th>
                    <th>Complete</th>
                    <th>@* Edit *@</th>
                    <th>@* Delete *@</th>
                    <th>@* Details *@</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.TaskList.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.TaskList.ElementAt(i).Title</td>
                        <td>@Model.TaskList.ElementAt(i).TaskUpdateList.Count</td>
                        <td>
                            @if (Model.TaskList.ElementAt(i).LastUpdated.HasValue)
                            {
                                Model.TaskList.ElementAt(i).LastUpdated.Value.ToString("dd/MM/yyyy");
                            }
                        </td>
                        <td>
                            @Model.TaskList.ElementAt(i).RecordCreated.ToString("dd/MM/yyyy")
                        </td>

                        <td>
                            @if (Model.TaskList.ElementAt(i).IsTaskComplete)
                            {
                                <i class="glyphicon glyphicon-ok taskComplete"></i>
                            }
                            else
                            {
                                <i class="glyphicon glyphicon-remove taskNotComplete"></i>
                            }
                        </td>

                        <td>@Html.ActionLink("Edit", "Edit", new { id = Model.TaskList.ElementAt(i).Id , @class="btn btn-info"})</td>

                        <td><span class="btn btn-danger" onclick="DeleteTask(@Model.TaskList.ElementAt(i).Id)">Delete</span></td>

                        <td>@Html.ActionLink("View", "Detail", new { id = Model.TaskList.ElementAt(i).Id })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h4 class="text-center">Add new taks to see them listed here!</h4>
}

<script>

    function DeleteTask(taskId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteTask", "Task")',
            data: { taskId: taskId },
            success: function () {
                console.log('task successfully deleted');

                window.location.reload();
            }
        });
    }

</script>
