@model ToDoList.ViewModels.TaskIndexViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("New Task", "New")

@if (Model.TaskList.Any())
{
    <div>

        <div class="col-md-12">
            <div class="col-md-3">
                <h4>Outstanding Tasks <span class="label label-success">@Model.TaskList.Where(t => !t.IsTaskComplete).Count()</span></h4>
            </div>

            <div class="col-md-3">
                <h4>Overdue Tasks <span class="label label-danger">@Model.TaskList.Where(t => !t.IsTaskComplete && t.DeadlineDatePassed).Count()</span></h4>
            </div>
        </div>

        <table id="tblTask" class="table table-bordered table-condensed">
            <thead>
                <tr class="success">
                    <th>#</th>
                    <th>Title</th>
                    <th>No. Of Updates</th>
                    <th>Last Updated</th>
                    <th>Deadline</th>
                    <th>Created</th>
                    <th>Complete</th>
                    <th>@* Delete *@</th>
                    <th>@* Edit *@</th>
                    <th>@* Details *@</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.TaskList.Count; i++)
                {
                    <tr>
                        @* # *@
                        <td>@(i + 1)</td>

                        @* Title *@
                        <td>@Model.TaskList.ElementAt(i).Title</td>

                        @* No. of updates *@
                        <td>@Model.TaskList.ElementAt(i).TaskUpdateList.Count</td>

                        @* Last updated *@
                        <td>
                            @if (Model.TaskList.ElementAt(i).LastUpdated.HasValue)
                            {
                                @Model.TaskList.ElementAt(i).LastUpdated.Value.ToString("dd/MM/yyyy hh:mm tt");
                            }
                        </td>

                        @* Deadline *@
                        <td class="@(Model.TaskList.ElementAt(i).DeadlineDatePassed? "TaskDeadlinePassed" : "" )">
                            @if (Model.TaskList.ElementAt(i).DeadlineDate.HasValue)
                            {
                                @Model.TaskList.ElementAt(i).DeadlineDate.Value.ToString("dd/MM/yyyy");
                            }
                        </td>

                        @* Created *@
                        <td>
                            @Model.TaskList.ElementAt(i).RecordCreated.ToString("dd/MM/yyyy")
                        </td>

                        @* Is complete *@
                        <td>
                            @if (Model.TaskList.ElementAt(i).IsTaskComplete)
                            {
                                <i class="glyphicon glyphicon-ok taskComplete"></i>
                            }
                            else
                            {
                                <i class="glyphicon glyphicon-remove taskNotComplete"></i>
                            }
                        </td>

                        @* Delete *@
                        <td><span class="btn btn-danger" onclick="ConfirmDeleteTask(@Model.TaskList.ElementAt(i).Id)">Delete</span></td>

                        @* Edit *@
                        <td>@Html.ActionLink("Edit", "Edit", new { id = Model.TaskList.ElementAt(i).Id, @class = "btn btn-info" })</td>

                        @* View *@
                        <td>@Html.ActionLink("View", "Detail", new { id = Model.TaskList.ElementAt(i).Id })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h4 class="text-center">Add new taks to see them listed here!</h4>
}

<input id="hfTaskToDelete" type="hidden" value="-1" />

@* Delete Task confirmation modal *@
<div id='DeleteTaskConfirmationModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-white" id="myModalBtnTruckLabel">Delete Confirmation</h4>
            </div>

            <div class="modal-body">
                <p class="text-center">Are you sure you want to <span class="text-danger">delete</span> this task?</p>

                <p class="text-danger text-center">This cannot be undone!</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

                <span class="btn btn-warning" onclick="DeleteTask()">Confirm</span>
            </div>
        </div>
    </div>
</div>

<script>

    function ConfirmDeleteTask(taskUpdateId) {
        $('#hfTaskToDelete').val(taskUpdateId);

        $('#DeleteTaskConfirmationModal').modal('show');
    }

    function DeleteTask() {
        var taskId = $('#hfTaskToDelete').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteTask", "Task")',
            data: { taskId: taskId },
            success: function () {

                window.location.reload();
            }
        });
    }

</script>
