@model ToDoList.Models.Task

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Task</h2>

<div class="container">
    @using (Html.BeginForm("New", "Task"))
    {
        @*  Title *@
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title, null, new { @class = "validationText" })
        </div>

        @*  Description *@
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @rows = "5", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description, null, new { @class = "validationText" })
        </div>

        @* Deadline *@
        <div class="form-group">
            @Html.LabelFor(m => m.DeadlineDate)
            @Html.TextBoxFor(m => m.DeadlineDate, new { @class = "form-control", @id = "txtProductionDate" })
        </div>

        <button type="submit" class="btn btn-success">Create</button>
    }
</div>

@section scripts {

    <script>

        // Datepicker
        $('#txtProductionDate').datepicker({
            format: "dd/mm/yyyy"
        });

    </script>

}